<h1>Multiplication</h1>

<ul>
  <dt>
    First number
    </dt>
    <dd><%= @first_num%></dd>
  <dt>
    Second number
  </dt>
  <dd><%= @second_num%></dd>
  <dt>
    Result
  </dt>
<dd><%= @result%></dd>
</ul>

<a href="/multiply"> Do another addition</a>